@import url(../font/pf-din/pf-din.css);
@import url(../font/circular/circular-black.css);

@import 'variables.scss';
@import 'helpers.scss';

header {
	margin-top: 50px;
}

p, h2, h3, h4, h5, th, li, table, a {
	font-family: 'Circular', sans-serif;
	color: $darkgrey;
	letter-spacing: 0.50px;
}

h2 {
	text-align: center;
}

p, li {
	font-size: 16px;
	line-height: 22px;
}

p {
	hyphens: auto;
}

a {
	color: $darkblue;
	font-weight: 700;

	&:hover {
		text-decoration: none;
	}
}

img {
	max-width: 100%;
}

hr {
	border-top: 1px solid $black;
}

th {
	color: white;
	text-align: center;
}

td {
	text-align: center;
}

th, td {
	padding: 30px;
	border: 0px;
}

footer {
	background-color: #222222;
  	width: 100%;
  	height: 140px;
  	padding: 20px;
  	display: flex;
  	align-items: center;

  	p {
		color: white;
		font-weight: lighter;
  	}

  	a {
		color: white;

		&:hover {
			color: #FFD800;
		}
  	}
}

@media screen and (max-width: 600px) {
	footer {
		height: auto;
		padding: 15px;
	}

	footer p {
		/*font-size: .5em;*/
	}
}


.darkgrey {
	color: #222222;
}

.table-stripe {
	background-color: #E4F1FE;
}

.shorty-rule-black {
	border: solid 3px black;
	width: 70px;
	margin-left: 0;
}

.centered-shorty {
	margin: 20px auto;
}

.navbar {
	background: #222222;
	border-bottom: none;
}

.blueheader {
	background-color: #358DF2;
	padding: 30px;
	text-align: center;
}

.blueheader img {
	width: 400px;
	margin: 0 auto;
}

.page-title {
	font-family: 'Pf Din', Impact, sans-serif;
	text-transform: uppercase;
	color: white;
	font-size: 4em;
}

@media screen and (max-width: 991px) {
	.blueheader {
		padding: 0;
	}

	.page-title {
		font-size: 2.85em;
	}
}

.overview {
	background-color: #358DF2;
	padding: 30px;
	text-align: center;

	h3 {
		color: white;
		font-weight: bold;
		line-height: 1.25;
	}

	h4 {
		color: white;
	}

	p {
		color: white;
		font-weight: bold;
	}

	a {
		color: #FFD800;

		&:hover {
			color: #E51B24;
		}
	}
}

@media screen and (max-width: 991px) {
	.overview {
		padding: 15px;
		padding-top: 0;
	}

	.overview h3 {
		font-size: 1.25em;
	}
}

.light-blue-bg,
.light-grey-bg {
	padding: 60px;

	@media screen and (max-width: 1100px) {
		padding: 15px;
	}
}

.light-blue-bg {
	background-color: #E4F1FE;
}

.light-grey-bg {
	background-color: #F6F6F6;
}

.info-card {
	background-color: white;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	hyphens: auto;
	padding: 20px;

	&ul {
		@media screen and (max-width: 769px) {
			padding-left: 16px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.lessons-nav-container {
		display: none;
	}
}

.grey-button-row {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.grey-button {
	background-color: #F6F6F6;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	padding: 10px;
	margin: 10px;
	width: 173px;
	text-align: center;

	&:hover {
		background-color:  #FFD800;
	}
}

.red-button-container {
	display: flex;
	justify-content: space-evenly;
}

.red-button {
	align-items: center;
	background-color: #E51B24;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	color: white;
	display: flex;
	flex-basis: 20%;
	height: 75px;
	justify-content: center;
	min-height: 75px;
	padding: 10px;
	text-align: center;

	&:hover {
		background-color: #FFD800;
		color: white;
	}

	&:active {
		background-color: #F6F6F6;
	}

	&a {
		text-decoration: none;
	}
}

@media screen and (max-width: 991px) {
	.red-button-container {
		flex-direction: column;
		font-size: 1em;
	}

	.red-button {
		margin-bottom: 15px;
	}
}

.week-marker {
	align-items: center;
	background-color: #E51B24;
	border-radius: 50%;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	color: white;
	display: flex;
	font-weight: bold;
	height: 92px;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 15px;
	text-align: center;
	text-transform: uppercase;
	width: 92px;
}

.class-date {
	color: #222222;
	width: 20%;
	background-color: #FFD800;
	text-align: center;
	font-weight: bold;
	border-radius: 3px;
	font-size: 16px;

	@media screen and (max-width: 991px) {
		width: 100%;
	}
}

.grey-info-card,
.white-info-card {
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	padding: 20px;
	margin: 10px;
}

.grey-info-card {
	background-color: #F6F6F6;
}

.white-info-card {
	background-color: white;
}

.meet-time {
	margin-left: 75px;
}

.icon {
	width: 60px;
	text-align: center;
	margin: 0 auto;
	display: block;
}

.timeline-bar {
	background-color: #FFD800;
}

.category {
	background-color: #E4F1FE;
	font-weight: bold;
	padding: 10px;
}

.table-header {
	background-color: #585858;
	color: white;
}
