@import 'variables.scss';

.push-top-sm {
    margin-top: 15px;
}

.push-top {
    margin-top: 30px;
}

.push-top-lg {
	margin-top: 45px;
}

.push-right {
    margin-right: 30px;
}

.push-bottom-sm {
	margin-bottom: 15px;
}

.push-bottom {
    margin-bottom: 30px;
}

.push-bottom-lg {
	margin-bottom: 45px;
}

.push-left {
	margin-left: 30px;
}

.pad-top {
	padding-top: 30px;
}

.pad-bottom {
	padding-bottom: 30px;
}
