/**
 * General Assembly theme for reveal.js.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/news-706/news-706.css);
@import url(../../lib/font/pf-din/pf-din.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #000000;

$mainColor: #fff;
$headingColor: #fff;

$mainFontSize: 38px;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-light-background {
    &, h1, h2, h3, h4, h5, h6 {
        color: #222;
    }
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-smaller {
	font-size: 0.85em !important;
}

.text-smallest {
	font-size: 0.75em !important;
}

.push-margin {
	margin: 10px 0 !important;
}

.pad-left-lg {
	padding-left: 50px !important;
}

.reveal pre code {
	max-height: none !important;
}

.heading {
	background-image: url(../../img/main/ga-logo.png);
	background-repeat: no-repeat;
	background-position: right top 4px;
	font-family: $headingFont !important;
	font-size: $heading3Size !important;
	text-transform: uppercase !important;
	margin-bottom: 20px !important;
	border-bottom: 2px solid black !important;

	img {
		height: 60px !important;
		width: 60px !important;
		margin: 0 !important;
		float: right;
		border: none !important;
		background: transparent !important;
		box-shadow: none !important;
	}
}

// Code Syntax
.code {
	background: #f9f2f4;
	padding: 2px 4px !important;
	color: #c7254e;
	border-radius: 4px;
}

.reveal blockquote {
	width: 90% !important;
}

.title {
	text-align: left;
	font-size: 2em !important;

	&.text-bigger {
		font-size: 2.5em;
	}

	&.text-huge {
		font-size: 3em;
	}
}

.hero {
	padding: 0 !important;
	text-align: left;
	font-size: 1.75em !important;

	&.condensed {
		font-size: 1.5em !important;
	}

	.lesson-title {
		margin-top: 50px !important;
	}

	h1 {
		line-height: 1.0 !important;
		margin: 0 !important;
	}
}

$red: rgb(229,27,36);
$yellow: rgb(255, 216, 0);
$mint: rgb(131, 237, 217);
$teal: rgb(30, 202, 199);
$burgundy: rgb(113, 10, 51);
$pink: rgb(255, 157, 182);
$light-grey: rgb(229, 229, 229);
$dark-grey: rgb(88, 88, 91);

.red { color: $red !important; }

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
