.container {
  width: 1000px;
  margin: 0 auto;
}

.box {
  height: 150px;
}


header {
  background: red;
}

main {
  background: yellow;
  // float: ;
  // width: ;
}

aside {
  background: green;
  // float: ;
  // width: ;
}

footer {
  background: blue;
}

.clear {
  // clear: ;
}


