.wrapper {
	text-align: center;
}

body {
	padding-top: 75px;
}

header {
	background: blue;
	font-size: 75px;
	position: fixed;
	top: 0;
	width: 100%;
	transition: all 2s;
}

.header-offset {
	background: red;
	font-size: 30px;
}
